/** FONTS **/
@font-face {
  font-family: InterVariable;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("../fonts/InterVariable.woff2") format("woff2");
  /* First line: Cyrillic lowercase letters codes, second line: Cyrillic uppercase letters codes
  third line: common punctuation marks like comma, etc. */
  unicode-range: U+0430, U+0431, U+0432, U+0433, U+0434, U+0435, U+0451, U+0436, U+0437, U+0438, U+0439, U+043A, U+043B, U+043C, U+043D, U+043E, U+043F, U+0440, U+0441, U+0442, U+0443, U+0444, U+0445, U+0446, U+0447, U+0448, U+0449, U+044A, U+044B, U+044C, U+044D, U+044E, U+044F, 
  U+0410, U+0411, U+0412, U+0413, U+0414, U+0415, U+0401, U+0416, U+0417, U+0418, U+0419, U+041A, U+041B, U+041C, U+041D, U+041E, U+041F, U+0420, U+0421, U+0422, U+0423, U+0424, U+0425, U+0426, U+0427, U+0428, U+0429, U+042A, U+042B, U+042C, U+042D, U+042E, U+042F, 
  U+002C, U+002E, U+0021, U+003F, U+003A, U+003B, U+2010, U+2013, U+2014, U+0022, U+0027, U+0028, U+0029, U+005B, U+005D, U+007B, U+007D, U+2026, U+002F, U+005C;
}

html {
  /* text, 18.2px */
  font-size: calc(0.56760665972944844rem + 0.7804370447450573vw);
  /* menu */
  font-family: Arial, Helvetica, sans-serif;
  font-optical-sizing: auto;
  scroll-behavior: smooth;
}

body {
  /* margin: 1.3rem 1.3rem 0 1.3rem; */
  margin: 0;
}
body a {
  text-decoration: none;
  color: inherit;
  position: relative;
}
.container {
  max-width: 1416px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  box-sizing: border-box;
}

nav {
  opacity: 0;
  animation: fadeIn ease-in 1s forwards;
}
nav a {
  transition: color .2s ease;
}
nav a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -3px;
  left: 0;
  background-color: #84c157;
  z-index: 1;
}
nav a::after {
  content: "";
  position: absolute;
  opacity: 0;
  z-index: 2;
  width: 100%;
  height: 2px;
  bottom: -3px;
  left: 0;
}
nav a:hover {
  color: rgb(100, 100, 100);
}

main {
  /* TODO: ? ; del bg-more, but first WEBP */
  background-color: #f3f0f0;
  background-image: url("../img/bg.jpg");
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 1rem;
}
header {
  margin-top: .3rem;
  /* margin-top: calc(-1rem + .3rem); */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  opacity: 0;
  animation: fadeIn ease-in 1s forwards;
}
.a2 {
  margin-top: 1.1rem;
  margin-left: -1rem;
  position: relative;
  top: .4rem;
}
.a2 a {
  margin-right: 1.7rem;
}
.a2 a:last-child {
  margin-right: 0;
}
main h1 {
  color: white;
  font-family: Arial, sans-serif;
  font-weight: 500;
  font-size: 3.4rem;
}
@supports (font-variation-settings: normal) {
  main h1 {font-family: "InterVariable", Arial, sans-serif;}
}
.tel {
  opacity: 0;
  animation: fadeIn ease-in 2s forwards;
  top: .55rem;
}
.tel img {
  position: absolute;
  left: -27%;
  /* top: -32%; */
  /* top: -26%; */
  top: -19%;
}
.first-row {
  margin-bottom: 0;
}
.second-row {
  margin-top: 0;
}
.slider-container {
  display: flex;
  justify-content: space-between;
}
.slider {
  display: flex;
  background-color: #fff;
  margin-bottom: 2rem;
  position: relative;
  top: -0.3rem;
  border-radius: 1rem;
  width: 315px;
  text-align: center;
  letter-spacing: 0.05rem;
  overflow-x: hidden;
  opacity: 0;
  animation: fadeIn 1.5s forwards;
}
@supports (font-variation-settings: normal) {
  .slider {font-family: "InterVariable", Arial, sans-serif;}
}
.buttons-container {
  position: absolute;
  right: .8rem;
  bottom: .8rem;
  z-index: 3;
}
.slider-button {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  background-color: transparent;
  border: 2px solid white;
  color: transparent;
  padding: .3rem;
  z-index: 3;
  color: white;
  right: .8rem;
  bottom: 0;
  margin-right: .2rem;
}
.slider-button:last-child {
  margin-right: 0;
}
.button--active {
  background-color: white;
}
.slider-track {
  width: 100%;
  display: flex;
  transition: transform .5s ease-in-out;
}
.slide {
  width: 100%;
  padding-right: 1.5rem;
  flex-shrink: 0;
  background-size: cover;
  color: white;
  text-align: left;
  position: relative;
  padding: .8rem;
  box-sizing: border-box;
}
.slide::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.slide-veg {
  background-image: url("../img/slider/veg-pile-2.png");
}
.slide-pole {
  background-image: url("../img/slider/corn.webp");
}
.slide-fertilizers {
  background-image: url("../img/slider/hands.jpg");
}
.slide-protection {
  background-image: url("../img/slider/gerb.jpeg");
  background-position-y: 55%;
}
.slide p {
  margin-top: 0;
  font-size: 1.7rem;
  letter-spacing: -1px;
  position: relative;
  z-index: 2;
}
.slider div .slide:last-child {
  margin-right: 0;
}
.slide-fadein-text {
  opacity: 0;
  transform: translateY(-113%);
  animation: fadeIn 1.3s forwards, slide 1.3s forwards;
}
@keyframes slideFadeInText {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
@keyframes slide {
  to {
    transform: translateY(0);
  }
}

.goods-and-services {
  background-color: white;
  margin-bottom: 2rem;
}
.phrase {
  margin-top: 0;
  padding-top: 2rem;
  /* text-align: center; */
  font-size: 3rem;
}
@supports (font-variation-settings: normal) {
  .phrase {font-family: "InterVariable", Arial, sans-serif;}
}
.section-phrase {
  text-align: center;
}
.goods {
  display: grid;
  grid-template-rows: 1fr 10rem 1fr;
  grid-template-columns: 1fr 1fr;
  column-gap: 6rem;
  row-gap: 1rem;
}
.goods-item-name {
  font-size: 2.5rem;
  letter-spacing: -1px;
  text-align: center;
}
.goods-item ul {
  padding: 2rem;
  border-radius: 1rem;
  background-color: #f9f9f9;
  font-size: 1.3rem;
  padding-left: 4rem;
  position: relative;
}
.goods-item li {
  margin-bottom: .3rem;
}
.goods-item li:last-child {
  margin-bottom: 0;
}
.li-space {
  visibility: hidden;
}
.goods-item-veg ul {
  background-image: url("../img/goods/seeds-veg-circ.png");
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: 249% -33%;
}
.goods-item-seed ul {
  background-image: url("../img/goods/seeds-field-circ.png");
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: 249% -33%;
}
.goods-item-pot {
  background-color: #f9f9f9;
  grid-column: span 2;
  grid-row: span 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  margin-bottom: 2rem;
  background-image: url("../img/goods/pot-raw-circ.png"), url("../img/goods/pot-cooked-circ.png");
  background-repeat: no-repeat, no-repeat;
  background-position: -29% 28%, 142% 13%; /* , 142% 13% */
  background-size: 40%;
}
.goods-item-fert {
  /* TODO: del fert.jpg */
  position: relative;
}
.goods-item-fert ul {
  background-color: transparent;
}
.goods-item-protect ul {
  background-color: transparent;
}
.goods-item-fert img {
  position: absolute;
  right: -147px;
  top: 112px;
  width: 290px;
}

.about {
  /* background-color: #d4f1c5;
  background-color: #f4fbf1; */
  display: grid;
  grid-template-columns: 1fr 0.6fr;
  column-gap: 5rem;
  align-items: start;
}
.about-container {
  padding-left: 10rem;
  padding-right: 10rem;
}
.about .phrase {
  text-align: left;
  padding-top: 0;
  z-index: 2;
  position: relative;
  margin-bottom: 1.1rem;
}
.about-bubble {
  padding: 1.5rem;
  border-radius: 1rem;
  /* background-color: #f4fbf1; */
  /* background-color: #d4f1c5; */
  background: rgb(195,34,34);
  background: linear-gradient(0deg, rgba(195,34,34,1) -50%, rgba(32,157,57,1) 88%);
  /* background: linear-gradient(rgba(32,157,57,1) 90%, rgba(195,34,34,1) 10%); */
  color: white;
  position: relative;
  z-index: 2;

  background-color: #FFFFFF;
  background-image: linear-gradient(180deg, rgb(20, 203, 57) 3%, rgba(32,157,57,1) 91%, rgba(195,34,34,1) 100%);

  background-color: #10d970;
  background-image: linear-gradient(45deg, #10d970 0%, #ae5656 100%);
}
.about-photos {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 1rem;
}
.about-photos img {
  width: 100%;
  height: auto;
  border-radius: 1rem;
}

.clients {
  margin-bottom: 2rem;
}
.clients-track {
  display: flex;
  justify-content: space-around;
}
.clients-track img {
  max-width: calc(25% - 20px);
  height: auto;
}

footer {
  background-color: #f4f5ea;
  padding: 2rem;
}
footer .a2 {
  margin-top: 0.8rem;
  left: -2.7rem;
}
footer .a2.tel {
  left: inherit;
}
footer .logo {
  opacity: 1;
  animation: none;
}
footer .a2 {
  opacity: 1;
  animation: none;
}
footer header {
  margin-bottom: 1rem;
}
.footer-row2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
}
.footer-row2 iframe {
  border-radius: 1rem;
}
.footer-row2 span {
  line-height: 1.6rem;
}
.footer-row2 b {
  font-size: 1.2rem;
}
.mail span {
  position: relative;
  top: -0.4rem
}